header
	.wrapper
		h1 There is no other platforms for you as like
		button.play
			img(src="libs/image/play.png")
		.try__now
			button(type="submit" name="tryNow") TRY NOW
		p * No need to add cards details