.wrapper__design
	.left__side
		.side__wrapper
			p.red new design
			h2 There is no other platforms for you as like ....
			p.
				Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
			p.
				Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
	.right__side
		.first__elem
		.second__elem
			.second__elem__inner.second__elem__4-3
				.second__elem__content