.wrapper__features
	p new features
	h2 Some awersome features
	//- img(src='libs/image/earphones.png' class='earphones')
	//- img(src='libs/image/penHolder.png' class='penHolder')
	//- img(src='libs/image/coffeeCup.png' class='coffeeCup')
	.cards__wrapper
		.card__picture
			img(src='libs/image/picture.png')
			h3 Some awesone features
			p.
				Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
		.card__plain
			img(src='libs/image/plane.png')
			h3 Some awesone features
			p.
				Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.
		.card__pictures
			img(src='libs/image/bulb.png')
			h3 Some awesone features
			p.
				Donec sed odio dui. Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue.